[Desktop Entry]
Name=Klondike Battle
Name[bs]=Klondike Battle
Name[ca]=Klondike Battle
Name[ca@valencia]=Klondike Battle
Name[cs]=Klondike Battle
Name[da]=Klondike Battle
Name[de]=Klondike Battle
Name[el]=Klondike Battle
Name[en_GB]=Klondike Battle
Name[es]=Klondike Battle
Name[et]=Klondike Battle
Name[eu]=Klondike Battle
Name[fi]=Klondike Battle
Name[fr]=Klondike Battle
Name[ga]=Klondike Battle
Name[gl]=Klondike Battle
Name[hne]=Klondike Battle
Name[hu]=Klondike Battle
Name[id]=Klondike Battle
Name[it]=Klondike Battle
Name[ja]=Klondike Battle
Name[kk]=Klondike Battle
Name[km]=Klondike Battle
Name[ko]=Klondike Battle
Name[lt]=Klondike Battle
Name[lv]=Klondike Battle
Name[mr]=Klondike Battle
Name[nb]=Klondike Battle
Name[nds]=Klondike Battle
Name[nl]=Klondike Battle
Name[nn]=Klondike Battle
Name[pa]=Klondike Battle
Name[pl]=Klondike Battle
Name[pt]=Klondike Battle
Name[pt_BR]=Klondike Battle
Name[ro]=Klondike Battle
Name[ru]=Klondike Battle
Name[sk]=Klondike Battle
Name[sl]=Klondike Battle
Name[sr]=Klondike Battle
Name[sr@ijekavian]=Klondike Battle
Name[sr@ijekavianlatin]=Klondike Battle
Name[sr@latin]=Klondike Battle
Name[sv]=Klondike Battle
Name[tr]=Klondike Battle
Name[ug]=Klondike Battle
Name[uk]=Klondike Battle
Name[wa]=Klondike Battle
Name[x-test]=xxKlondike Battlexx
Name[zh_CN]=Klondike Battle
Name[zh_TW]=Klondike Battle
Exec=kpat -qwindowtitle %c %u
Type=Application
Icon=klondikebattle
X-DocPath=kpat/index.html
GenericName=Russian Bank Game
GenericName[af]=Patience Kaart Speletjie
GenericName[be]=Картачны пасьянс
GenericName[bn]=পেশেন্স নামের তাস খেলা
GenericName[br]=C'hoari a habaskter
GenericName[bs]=Kartaška igra strpljenja
GenericName[ca]=Partida de cartes paciència
GenericName[ca@valencia]=Partida de cartes paciència
GenericName[cs]=Karetní hra passiáns
GenericName[cy]=Gêm Cerdiau Patience
GenericName[da]=Kabale-kortspil
GenericName[de]=Patiencen legen
GenericName[el]=Παιχνίδι καρτών patience
GenericName[en_GB]=Patience Card Game
GenericName[eo]=Pacienca Kartludo
GenericName[es]=Juego de cartas Patience
GenericName[et]=Kaardimäng
GenericName[eu]=Pazientziako karta-jokoa
GenericName[fa]=بازی Patience Card
GenericName[fi]=Pasianssi-korttipeli
GenericName[fr]=Jeux de réussite
GenericName[ga]=Cluiche Cártaí Patience
GenericName[gl]=Xogo de cartas
GenericName[he]=משחק קלפים
GenericName[hne]=पेसेंस तास वाले खेल
GenericName[hr]=Kartaška igra pasijansa
GenericName[hu]=Pasziánsz kártyajáték
GenericName[id]=Permainan Kartu Patience
GenericName[is]=Kaplar
GenericName[it]=Solitari con le carte
GenericName[ja]=Patience カードゲーム
GenericName[kk]=Пасьянс ойны
GenericName[km]=ល្បែង​បៀ Patience
GenericName[ko]=카드 놀이
GenericName[lt]=Pasianso kortų žaidimas
GenericName[lv]=Patience kāršu spēle
GenericName[mk]=Пасијанс - игра со карти
GenericName[mr]=पेशन्स पत्यांचा खेळ
GenericName[nb]=Kabalspill
GenericName[nds]=Patschangsen leggen
GenericName[ne]=शान्त कार्ड खेल
GenericName[nl]=Patience-kaartspel
GenericName[nn]=Kabalspel
GenericName[pl]=Gra karciana Patience
GenericName[pt]=Jogo de Paciência
GenericName[pt_BR]=Jogo de Cartas Paciência
GenericName[ro]=Joc de pasențe
GenericName[ru]=Карточный пасьянс
GenericName[se]=Kabálaspeallu
GenericName[sk]=Kartová hra Patience
GenericName[sl]=Igra s kartami Patience
GenericName[sr]=Пасијанс са картама
GenericName[sr@ijekavian]=Пасијанс са картама
GenericName[sr@ijekavianlatin]=Pasijans sa kartama
GenericName[sr@latin]=Pasijans sa kartama
GenericName[sv]=Patienskortspel
GenericName[ta]=பொறுமையான சீட்டு விளையாட்டு
GenericName[te]=సహనం పేక ఆట
GenericName[tg]=Бозии Пасянси Кортӣ
GenericName[tr]=Sabır Kart Oyunu
GenericName[ug]=سەۋر تاقەت كارتا ئويۇنى
GenericName[uk]=Гра картами у пасьянс
GenericName[wa]=Cwårdjeu d' pacyince
GenericName[xh]=Ikhadi lomdlalo wokunyamezela
GenericName[x-test]=xxPatience Card Gamexx
GenericName[zh_CN]=考验耐心的牌类游戏
GenericName[zh_TW]=單人玩的紙牌遊戲
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;CardGame;
MimeType=application/vnd.kde.kpatience.savedstate;
X-DBUS-ServiceName=org.kde.klondikebattle
